html {
    height: 100%;
    width: 100%;
  }
  
  html,
  body {
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    gap: 200px;
  }
  
  .formDisplay {
    padding: 25px;
  }
  
  fieldset {
    height: calc(100%);
    border-radius: 15px;
    box-shadow: 1px 5px 5px slategray;
    margin-top: 32px;
  }
  
  .formInputs {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
  }
  
  .bookTitle,
  .authorName,
  .pageNum {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .hasRead {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
  }
  
  .buttonDiv {
    display: flex;
    justify-content: space-evenly;
  }
  
  #submitBtn {
    height: 40px;
    width: 90px;
    border-radius: 15px;
    border-style: none;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 150px);
    grid-auto-rows: 150px;
    gap: 15px;
    height: calc(100%);
    width: 100vh;
  }
  
  .card {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px slategray;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    transition: all .2s ease-in-out;
  
  }
  
  .card:hover {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 10px 20px -5px black;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    transform: scale(1.1);
  
  }
  
  h3 {
    text-align: center;
  }
  
  .button {
    width: 50px;
    height: 20px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bookName {
    text-align: justify;
    padding-top:20px;
    margin: auto;
    font-weight:bolder;
  }
  
  .authorNames,
  .pageNumber,
  .bookRead {
    text-align: center;
    margin: auto;
  }
  
  
  
  